apiVersion: 1

deleteDatasources:
  - name: Prometheus
    orgId: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    uid: prometheus01
    url: http://prometheus:9090
    jsonData:
      tlsAuth: false
      tlsAuthWithCACert: false
      httpMethod: POST
      timeInterval: 10s
    version: 1
    editable: false
    isDefault: true
  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    url: http://loki:3100
    basicAuth: false
    isDefault: false
    version: 1
    editable: false